
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

body {
font-family:"Roboto Slab"
}
.header{
    background-color:#7dd8e8;
    padding-left:28px;
    padding-right:28px;
    padding-top:24px;
    padding-bottom:24px;
}
.header > div{
    display: inline-block;
}

.sub_header1{
    width:987px;
}
.sub_header2{
    width: 253px;
    margin-left:41px;
}

.sub_header1 > div {
    display:inline-block;
}

.header2{
    /* width:391px; */
    width:300px
}
.header2 span{
    font-size:66px;
    font-family:"Roboto Slab";
    font-weight:300
}
.header3> input {
    width:380px
   
}

.sub_header2{
    text-align:right;
}
.navigation_content {
    background-color: #f5f5f5;
    padding-left:28px;
    padding-right:28px;
    padding-top:16px;
    padding-bottom:16px;
    
}
.navigation_content > ul {
    display: inline-block;
    width:864px;

}
.navigation_content >ul > li{
    display:inline-block;
    margin-right: 29px;
    

}
.navigation_content > .navright {
    display:inline-block;
}


.navright > div {
    display: inline-block;
}
.image1 > span{
    margin-left: 2px;
}
.image2 > span{
    margin-left: 8px;
}
.image2{
    margin-left: 44px;
}
.mainbody {
margin-top: 40px;
margin-left: 29px;
}
.mainbody_left {
    width: 255px;
    /* height:779px */
}
.mainbody > div{
    display:inline-block;
}
.mainbody_left1 {
    background-color: #2fc1d9;
    display: block;
    /* height: 12px;  */
    padding-top: 18px;
    padding-bottom: 18px;
}
.sub1_left1{
    background-color: #f5f5f5;
    display: block;
    
    /* height: 54px;  */
    padding-top: 7px;
    padding-bottom: 7px;
}


